/* Fonts */
@font-face {
    font-family: 'Poppins-B';
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-M';
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-R';
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    /* Color */
    --text: #120817;
    --background: #f8f2fb;
    --primary: #171c33;
    --secondary: #899bea;
    --accent: #5EFCB3;
    --high: #f84848;
    --medium: #f8ba48;
    --low: rgb(23, 194, 0);
    --done: rgb(184, 184, 184);

    /* Hamburger */
    --bar-width: 2.2rem;
    --bar-height: .35rem;
    --hamburger-gap: .25rem;
    --hamburger-bg: var(--accent);
    --hamburger-fg: var(--text);
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --animation-time: .2s ease-in-out;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins-R';
    background-color: var(--background);
    color: var(--text);
}

#content {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

/* Header */
header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .5rem;
    padding-left: 2rem;
    border-bottom: 1px solid black;

    .hamburger {
        cursor: pointer;
    }

    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: 'Poppins-B';

        & img {
            width: 3rem;
        }
    }
}

/* Hamburger */
.hamburger input,
.hamburger::after,
.hamburger::before {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--hamburger-fg);
    transform-origin: left center;
    border-radius: 10rem;
    transition: opacity var(--animation-time), width var(--animation-time),
        rotate var(--animation-time), translate var(--animation-time);
}

.hamburger {
    --x-witdh: calc(var(--hamburger-height) * 1.41421356237);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--hamburger-gap);
    width: 3rem;
    z-index: 99;
    padding: .5rem;
    border-radius: .5rem;
}

.hamburger input {
    padding: 0;
    margin: 0;
    outline: none;
    appearance: none;
    pointer-events: none;
}

.hamburger input:checked {
    opacity: 0;
    width: 0;
}

.hamburger:has(input:checked) {
    --hamburger-bg: var(--text);
    --hamburger-fg: var(--accent);
}

.hamburger:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-witdh);
    translate: .4rem calc(var(--bar-height)/2);
}

.hamburger:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-witdh);
    translate: .4rem calc(var(--bar-height)/-2);
}

.hamburger:has(input:focus-visible)::after,
.hamburger:has(input:focus-visible)::before,
.hamburger input:focus-visible {
    border: 1px solid var(--haburger-fg);
    box-shadow: 0 0 0 1px var(--hamburger-bg);
}

.hamburger input:focus {
    outline: none;
}

/* Nav (Sidebar) */
nav {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--primary);
    color: #fff;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
    padding-top: 4rem;

    & img {
        filter: brightness(0.9) invert(.7) sepia(.9) hue-rotate(110deg) saturate(250%);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h2 {
            font-family: 'Poppins-M';
        }
    }

    #home-nav {
        & h2 {
            padding-left: 1rem;
        }
    }

    #project-nav {
        .project-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 .5rem 0 1rem;
            gap: 1rem;
        }

        & ul#project-list {
            max-height: 15rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: .1rem;
            overflow: auto;
            overflow-wrap: anywhere;

            & li {
                gap: 0rem;
                flex-direction: column;
                justify-content: center;
                border: 1px solid var(--background);
                border-radius: 1rem;

                & a {
                    & img:hover {
                        transform: none;
                    }
                }

                & a:hover {
                    transform: none;
                    border-top-right-radius: 1rem;
                    border-top-left-radius: 1rem;
                }

                .menu {
                    display: flex;
                    justify-content: space-around;
                    padding: 1rem;
                    width: 100%;
                    border-top: 1px solid var(--background);

                    & img:hover {
                        transform: none;
                        filter: brightness(1) invert(.5) sepia(.9) hue-rotate(300deg) saturate(5000%);
                    }

                    & img:nth-child(1):hover {
                        filter: brightness(1) invert(.8) sepia(.9) hue-rotate(390deg) saturate(250%);
                    }
                }
            }
        }

        & img {
            cursor: pointer;
            transition: .3s ease;
        }

        & img:hover {
            transform: scale(1.5);
            transition: .3s ease;
        }
    }
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    & a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        padding: .5rem 2rem .5rem 1rem;
        color: inherit;
        font-weight: 100;
        transition: .3s ease;
        width: 100%;
    }

    & a:hover {
        background-color: var(--background);
        color: var(--text);
        transform: scale(1.1);
        font-weight: bold;
        transition: .3s ease;

        & img {
            filter: brightness(.9) invert(.0) sepia(.8) hue-rotate(110deg) saturate(250%);
        }
    }
}

/* Main */
main {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 95%;
    overflow: auto;
    padding: 2rem;
    padding-bottom: 5rem;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .project-title {
            padding: 1rem;
            font-size: 2rem;
            text-align: center;
            background-color: var(--primary);
            color: var(--background);
            border: 2px solid var(--background);
            box-shadow: 0 0 0 4px var(--primary), 0 0 0px 8px var(--accent);
            border-radius: .5rem;
        }

        & button.add-todo {
            display: flex;
            border-radius: 50%;
            position: fixed;
            z-index: 3;
            bottom: 4.5rem;
            right: 4rem;
            border: none;
            outline: none;
            transition: .3s ease;
            cursor: pointer;
            scale: 2.5;
            background-color: var(--accent);

            & img {
                border-radius: 50%;
                scale: .7;
            }
        }

        & button.add-todo:hover {
            background-color: var(--secondary);
            transform: scale(1.2);
            transition: .3s ease;

            & img {
                filter: brightness(1) invert(1) sepia(1) hue-rotate(0deg) saturate(250%);
            }
        }

        .todo-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1rem;

            .todo-item {
                display: grid;
                grid-template-columns: auto 1fr auto;
                border-radius: .5rem;
                box-shadow: 0 0px 0 2px var(--text), 0px 5px 0px var(--secondary);
                text-decoration: none;

                .checklist,
                .todo-title {
                    display: grid;
                    width: 100%;
                }

                .checklist {
                    position: relative;
                    padding: 1rem 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & label {
                        position: absolute;
                        border-radius: 50%;
                        width: 2rem;
                        height: 2rem;
                        border: 2px solid var(--primary);
                        cursor: pointer;

                        &:after {
                            content: '';
                            position: absolute;
                            top: 36%;
                            left: 33%;
                            width: 29%;
                            height: 14%;
                            opacity: 0;
                            border-left: 2px solid var(--primary);
                            border-bottom: 2px solid var(--primary);
                            transform: rotate(140deg);
                            transition: opacity .3s ease, transform .3s ease;
                        }
                    }

                    & input {
                        visibility: hidden;

                        &:checked+label {
                            background: linear-gradient(to bottom, var(--accent), var(--secondary));

                            &:after {
                                transform: rotate(-45deg);
                                opacity: 1;
                            }
                        }
                    }
                }

                & div.todo-title {
                    padding: .5rem;
                    cursor: pointer;
                }

                .menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                    padding: 1rem 2rem;

                    .edit,
                    .delete,
                    .info {
                        cursor: pointer;
                        transition: .3s ease;
                    }

                    & img:hover {
                        transform: scale(1.5);
                        transition: .3s ease;
                        filter: brightness(.9) invert(9%) sepia(91%) hue-rotate(330deg) saturate(6442%);
                    }

                    .edit:hover {
                        filter: brightness(0.9) invert(.7) sepia(.9) hue-rotate(110deg) saturate(250%);
                    }

                    .info:hover {
                        filter: brightness(.5) invert(.5) sepia(.9) hue-rotate(450deg) saturate(2000%);
                    }
                }
            }

            .todo-item:has(input:checked) {
                background-color: var(--done);
                text-decoration: .10rem line-through;
                order: 99;
            }

            .todo-item.high {
                border-left: .5rem solid var(--high);
            }

            .todo-item.medium {
                border-left: .5rem solid var(--medium);
            }

            .todo-item.low {
                border-left: .5rem solid var(--low);
            }

            .empty-container {
                display: flex;
                justify-content: center;

                & img {
                    max-height: 60vh;
                    filter: brightness(1) invert(.1) sepia(.1) hue-rotate(190deg) saturate(450%);
                }
            }
        }
    }
}

/* Dialog */
dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: auto;
    overflow-x: hidden;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & legend {
            font-family: 'Poppins-B';
            font-size: 1.5rem;
            padding: 1rem 10rem 1rem 2rem;
            background-color: var(--primary);
            color: var(--background);
        }

        .input-group {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: .5rem;
            max-width: 20rem;
            text-align: center;
            font-size: 1rem;
            padding: 1rem;

            & input {
                padding: .25rem;
                font-size: 1.25rem;
                font-family: 'Poppins-R';
                text-align: center;
                border-radius: 1rem;
                border: 1px solid black;
            }
        }

        .button-group {
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 1rem 2rem 2.5rem;
            margin-top: -1rem;

            & button {
                padding: .5rem 2rem;
                font-size: 1rem;
                font-weight: 700;
                cursor: pointer;
                border: 2px solid var(--text);
                transition: .3s ease;
            }

            .submit-btn {
                background-color: var(--accent);
            }

            .cancel:hover,
            .submit-btn:hover {
                box-shadow: 2px 2px 0 0 var(--text);
                filter: brightness(1.4);
            }

            .cancel {
                background-color: rgb(250, 49, 49);
                color: var(--background);
            }
        }
    }
}

dialog::backdrop {
    backdrop-filter: blur(.1rem);
}

#project-dialog-edit {
    & form {
        .input-group {
            margin-inline: 2rem;
        }
    }
}

#todo-dialog-add,
#todo-dialog-edit {
    & form {
        .form-wrapper {
            display: grid;
            place-content: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            padding: 1rem 2rem;
            gap: 1.5rem;

            .input-group {
                text-align: left;
                padding: 0;

                & input {
                    font-size: 1rem;
                    text-align: left;
                    padding: .5rem 1rem;
                }

                & select,
                textarea {
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    font-size: 1rem;
                    font-family: 'Poppins-R';
                }

                & select {
                    appearance: none;
                    background-image:
                        linear-gradient(45deg, transparent 50%, var(--accent) 50%),
                        linear-gradient(135deg, var(--accent) 50%, transparent 50%),
                        linear-gradient(to right, var(--primary), var(--primary));
                    background-position:
                        calc(100% - 20px) calc(1em + 0px),
                        calc(100% - 15px) calc(1em + 0px),
                        100% 0;
                    background-size:
                        5px 5px,
                        5px 5px,
                        2.5em 2.5em;
                    background-repeat: no-repeat;
                }
            }

            .input-group:nth-child(2) {
                grid-column: 1/2;
                grid-row: 2/4;
                height: 100%;

                & textarea {
                    resize: none;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    padding: 1rem;
                }
            }
        }

        .button-group {
            margin-top: 0;
        }
    }
}

#todo-dialog-info {
    .info-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & h4 {
            font-size: 1.5rem;
            font-family: 'Poppins-M';
            text-align: left;
            padding: .5rem 2rem;
            background-color: var(--primary);
            color: var(--background);
        }

        .info-group {
            padding-inline: 2rem;

            & h5 {
                font-size: 1.25rem;
            }

            & p {
                font-size: 1rem;
            }
        }

        .info-group:nth-child(5) p {
            width: 30rem;
            max-height: 5rem;
            overflow: auto;
        }

        .button-group {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;

            & button {
                font-size: 1rem;
                font-weight: bold;
                padding: .5rem 2rem;
                border-radius: 2rem;
                color: var(--secondary);
                border: 2px solid var(--secondary);
                outline: none;
                transition: .3s ease;
            }

            & button:hover {
                background-color: var(--secondary);
                color: var(--background);
                border: 2px solid var(--accent);
                box-shadow: 0 0 0 4px var(--secondary);
                transition: .3s ease;
            }
        }
    }
}

/* Inputs */
input:focus,
textarea:focus,
select:focus {
    outline: 2px solid var(--accent);
}

/* Footer */
footer {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    font-size: 1.25rem;
    font-family: 'Poppins-M', sans-serif;
    margin-top: auto;

    border-top: 1px solid black;
    left: 0;
    bottom: 0;
    width: 100%;

    & a {
        text-decoration: none;
        color: var(--primary);
    }
}

/* Scroll */
::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--secondary), var(--accent));
}

@media screen and (max-width: 1400px) {
    #content {
        grid-template-columns: .3fr 1fr;
    }
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    #content {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    header {
        justify-content: center;

        #logo-container {
            z-index: 5;
            margin-left: -2rem;
            transition: margin-left .3s ease;
        }
    }

    .hamburger {
        display: flex;
        position: absolute;
        left: 2rem;

        & label {
            display: none;
            font-size: .1rem;
        }
    }

    .hamburger:has(input:checked)+#logo-container {
        color: var(--background);

        & img {
            filter: invert(93%) sepia(64%) saturate(328%) hue-rotate(205deg) brightness(105%) contrast(97%);
        }
    }

    header:has(input:checked)+nav {
        translate: 0;
    }

    nav {
        padding-top: 6rem;
        position: absolute;
        width: 100%;
        min-height: 100%;
        translate: -100%;
        z-index: 4;
        transition: translate var(--animation-time);

        #project-nav {
            & ul#project-list {
                gap: 0rem;

                & li {
                    flex-direction: row;
                    border: none;
                    border-radius: 0rem;
                    
                    & a, a:hover {
                        flex: 1 1 10rem;
                        border-radius: 0rem;
                    }
                    .menu {
                        flex: 1 1 1rem;
                        border: none;
                        justify-content: end;
                        gap: 1rem;
                    }
                }

            }
        }
    }
    
    main {
        .container {
            .todo-wrapper {
                .todo-item {
                    grid-template-columns: 1fr auto;
                    grid-template-rows: 1fr auto;

                    .todo-title {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        display: flex;
                        flex-direction: column;
                        padding-left: .5rem;
                    }

                    .checklist {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }

                    .menu {
                        grid-column: 1/3;
                        justify-content: space-between;
                        border-top: 1px solid var(--primary);
                        padding: .5rem 1rem;
                        padding-right: 1.6rem;

                        & img:nth-child(2) {
                            order: 3;
                        }
                    }
                }
            }
        }
    }

    dialog {
        & form {
            & legend {
                padding-right: 0;
            }

            .input-group {
                padding-inline: 3rem;

                & input {
                    font-size: 1rem;
                }
            }

            .button-group {
                gap: 1rem;
                padding-inline: 4rem;
                padding-bottom: 2rem;
            }
        }
    }

    #todo-dialog-add,
    #todo-dialog-edit {
        & form {
            .form-wrapper {
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;
                gap: 1rem;

                .input-group {
                    width: 100%;

                    & textarea#todo-description {
                        border-radius: 0;
                    }
                }

            }

            .button-group {
                flex-direction: column;
            }
        }
    }
}